.cont{
    margin: 0 100px 0 100px;
}

#start, #restart{
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    width: 100px;
    align-content: center;
    font-family:'Lekton', serif;
}
#correct, #win {
    text-align: center;
    font-family:'Lekton', serif;
}


#question {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-right: 0;
    font-family: 'Poller One', cursive;
}

.answer {
    
    margin: 0 10px 0 10px;
    padding: 10px 25px 10px 25px;
    font-family:'Lekton', serif;
}

#answers{
    
    text-align: center;
}
#timeleft {
    font-family:'Lekton', serif;
    text-align: center;

}

._0{
    
    opacity: .9;
    padding-top: 50px;
    height: 200px;
    text-align: center;
    margin-bottom: 50px;
}

._1{
    opacity: .9;
}

